h2 Vienna

table-wrapper
  table.table.table-hover
    thead
      tr
        th #
        th Name
        th Adresse
        th Phone Number
    tbody
      tr
        td 1
        td Hallo
        td Hullu
        td 123456789
      tr
        td 2
        td Hihi
        td Nunu
        td 789456123