
.home-wrapper
  h1 Emergency Information
  .selection-wrapper
    h2 Select City
    select(onchange="loadCity()").select-city
      option(value='') ---
      option(value='vienna') Vienna
      option(value='graz') Graz

  main